# Database
POSTGRES_DB=trans_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
STORAGE_ROOT_PATH=/app/uploads

# JWT Configuration
JWT_KEY=change_me_to_a_long_random_secret_key
JWT_ISSUER=TranscendenceApi
JWT_AUDIENCE=TranscendenceFrontend
JWT_EXPIRY_MINUTES=60

# Google Auth
GOOGLE_CLIENTID=your_google_client_id_here