.DS_Store
Thumbs.db

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/
.obsidian/
.idea/

*.log
*.cache
*.tmp

packages/
*.nupkg
*.snupkg

.env

appsettings.Development.json
appsettings.Local.json

docker-compose.override.yml

coverage/
TestResults/

node_modules/
dist/
build/

*.swp
*.bak
*.md

docker/nginx/certs/*
!docker/nginx/certs/.gitkeep

backups/*
!backups/.gitkeep